.img { 
  object-fit: cover;
  width: 100%;
  &__index {
    &__section1 {
      height: 420px;
      @include media-breakpoint-only(md){
        height: 252px;
      }
    }
    &__section2 {
      height: 628px;
    }
  }
}