.img { 
  object-fit: cover;
  width: 100%;
  &__advantage {
    height: 420px;
    @include media-breakpoint-only(md) {
      height: 252px;
    }
  }
  &__teacher {
    height: 628px;
  }
  &__space {
    &__indexPrimary {
      height: 210px;
      @include media-breakpoint-up(md) {
        height: 266px;
      }
      @include media-breakpoint-up(lg) {
        height: 444px;
      }
    }
    &__indexSecondary {
      height: 210px;
      @include media-breakpoint-up(md) {
        height: 117px;
      }
      @include media-breakpoint-up(lg) {
        height: 207px;
      }

    }
  }
  &__course {
    &__index {
      height: 165px;
      @include media-breakpoint-up(md) {
        height: 150px;
      }
      @include media-breakpoint-up(lg) {
        height: 445px;
      }
    }
  }
  &__scheme {
    &__index {
      height: 248.5px;
      border-radius: 1rem 1rem 0 0;
      margin-top: -0.5px;
      @include media-breakpoint-up(md) {
        height: 238px;
        border-radius: 1rem 0 0 1rem;
        margin-top: 0;
      }
      @include media-breakpoint-up(lg) {
        height: 248.5px;
        border-radius: 1rem 1rem 0 0;
        margin-top: -0.5px;
      }
    }
  }
}